In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
!nvidia-smi

Tue May 26 16:50:17 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.82       Driver Version: 418.67       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   61C    P8    10W /  70W |      0MiB / 15079MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [4]:
!pip install numba

Requirement already satisfied: numba in /usr/local/lib/python3.6/dist-packages (0.41.0)
Requirement already satisfied: llvmlite>=0.26.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba) (0.31.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from numba) (1.18.4)

In [0]:
nome_arquivo = 'airlinedelaycauses_DelayedFlights.csv'

In [6]:
! pip install cudf-cuda100

Requirement already satisfied: cudf-cuda100 in /usr/local/lib/python3.6/dist-packages (0.6.1)
Requirement already satisfied: numba<0.42,>=0.40.0 in /usr/local/lib/python3.6/dist-packages (from cudf-cuda100) (0.41.0)
Requirement already satisfied: pycparser==2.19 in /usr/local/lib/python3.6/dist-packages (from cudf-cuda100) (2.19)
Requirement already satisfied: nvstrings-cuda100 in /usr/local/lib/python3.6/dist-packages (from cudf-cuda100) (0.3.0.post1)
Requirement already satisfied: pyarrow==0.12.1 in /usr/local/lib/python3.6/dist-packages (from cudf-cuda100) (0.12.1)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.6/dist-packages (from cudf-cuda100) (1.0.3)
Requirement already satisfied: cffi>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from cudf-cuda100) (1.14.0)
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.6/dist-packages (from cudf-cuda100) (1.18.4)
Requirement already satisfied: cython<0.30,>=0.29 in /usr/local/lib/python3.6/dist-packages (from cudf-cuda100) (0.29.18)
Requirement already satisfied: llvmlite>=0.26.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba<0.42,>=0.40.0->cudf-cuda100) (0.31.0)
Requirement already satisfied: six>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from pyarrow==0.12.1->cudf-cuda100) (1.12.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.4->cudf-cuda100) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.4->cudf-cuda100) (2018.9)

In [0]:
! cp /usr/local/lib/python3.6/dist-packages/librmm.so .

In [0]:
import os
os.environ['NUMBAPRO_NVVM']='/usr/local/cuda/nvvm/lib64/libnvvm.so'
os.environ['NUMBAPRO_LIBDEVICE']='/usr/local/cuda/nvvm/libdevice/'

In [0]:
import cudf
import time
import numpy as np
import pandas as pd

In [10]:
s = time.time()
df_pandas = pd.read_csv(nome_arquivo)
e = time.time()
pd_time = e - s
print("Pandas loading time = {}".format(pd_time))

Pandas loading time = 1.0648407936096191

In [11]:
s = time.time()
df_cudf = cudf.read_csv(nome_arquivo)
e = time.time()
cudf_time = e - s
print("cudf loading time = {}".format(cudf_time))

cudf loading time = 0.1940593719482422

In [12]:
pd_time > cudf_time

True

In [13]:
pd_time / cudf_time

5.487190764966631

In [48]:
s = time.time()
df_pandas_concat = pd.concat([df_pandas for _ in range(5)])
e = time.time()
pd_time = e - s
print("Pandas loading time = {}".format(pd_time))

Pandas loading time = 0.0025076866149902344

In [16]:
s = time.time()
df_cudf_concat = cudf.concat([df_cudf for _ in range(5)])
e = time.time()
cudf_time = e - s
print("cudf loading time = {}".format(cudf_time))

cudf loading time = 0.18818330764770508

In [17]:
pd_time > cudf_time

True

In [18]:
pd_time / cudf_time

5.658529478093191

In [24]:
df_pandas.head()

   Unnamed: 0  Year  Month  ...  NASDelay  SecurityDelay  LateAircraftDelay
0           0  2008      1  ...       NaN            NaN                NaN
1           1  2008      1  ...       NaN            NaN                NaN
2           2  2008      1  ...       NaN            NaN                NaN
3           4  2008      1  ...       0.0            0.0               32.0
4           5  2008      1  ...       NaN            NaN                NaN

[5 rows x 30 columns]

In [25]:
s = time.time()
mean_pandas = df_pandas["CRSDepTime"].mean()
e = time.time()
pd_time = e - s
print ("Mean value in Pandas Dataframe = {}".format(mean_pandas))
print("Pandas Mean Value Calculation Time = {}".format(pd_time))

Mean value in Pandas Dataframe = 1459.1990706515999
Pandas Mean Value Calculation Time = 0.003818035125732422

In [26]:
s = time.time()
max_cudf = df_cudf["CRSDepTime"].mean()
e = time.time()
cuDF_time = e-s
print ("Mean value in DataTable Dataframe = {}".format(max_cudf))
print("DataTable Mean Value Calculation Time = {}".format(cuDF_time))

Mean value in DataTable Dataframe = 1458.054219395218
DataTable Mean Value Calculation Time = 0.0012288093566894531

In [27]:
pd_time > cuDF_time

True

In [28]:
pd_time / cuDF_time

3.107101280558789

In [37]:
s = time.time()
df_pandas.sort_values(by='FlightNum')
e = time.time()
pd_time = e - s
print("Pandas Sorting Time = {}".format(pd_time))

Pandas Sorting Time = 0.16106104850769043

In [38]:
s = time.time()
df_cudf['FlightNum'].sort_values()
e = time.time()
cuDF_time = e-s
print("cuDF Sorting Time = {}".format(cuDF_time))

cuDF Sorting Time = 0.013184547424316406

In [39]:
pd_time > cuDF_time

True

In [40]:
pd_time / cuDF_time

12.215895117540688